<div class="product border">
        {{#user}}
    <div class="product-head">
                <p class="title">{{name}} {{lastname}}'s' Payment Details</p>
        <img src="/img/infoone.png" alt="" class="payment_image" />
    </div>
    <table class="payment">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Phone Nr.</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{lastname}}</td>
            <td>{{phone}}</td>
            <td>{{email}}</td>
        </tr>
        {{/user}}
</div>
<div class="welcome_image_container_two">
    <img src="/img/info.png" alt="" class="welcome_image_two" />
</div>